<div class="jumbotron">
  <h1 class="display-3">{{task.name}}</h1>
  <p class="lead">{{task.desc}}</p>
  <button class="btn btn-warning" type="button" [routerLink]="['/tasks']">Task List</button>
</div>

<div class="container" *ngIf="loading">
	<p>loading... </p>
</div>

<div class="container" *ngIf="error">
	<p>{{error}}</p>
</div>

<div class="container" *ngIf="!error && !loading">
	<div class="container">
		<h3>This button simulates watching the video or performing the task</h3>
		<button class="btn btn-primary" type="button" (click)="taskComplete()">Finish</button>
	</div>

	<div class="container" *ngIf="complete">
		<h3>You did it!</h3>
		<p>You're clue is: <b><i>{{task.clue_id}}</i></b></p>
	</div>
</div>



