<div class="jumbotron">
  <h1 class="display-3">Tasks</h1>
  <p class="lead">Perform the following tasks to get access to clues!</p>
  <button class="btn btn-info" type="button" [routerLink]="['/clues']">My Clues</button>
</div>

<div class="container" *ngIf="loading">
	<p>loading... </p>
</div>

<div class="container" *ngIf="error">
	<p>{{error}}</p>
</div>

<div class="container" *ngIf="tasks">
	<div>
		<small><em>Current Progress</em></small>
		<progressbar class="progress-striped active" [value]="dynamic" [type]="type">
		  {{message}}
		</progressbar>
	</div>
	<hr>
	<accordion [closeOthers]="true">
	  <accordion-group *ngFor="let task of tasks; let task_index = index; ">
	    <div accordion-heading>
	      {{task.name}}
	      <i *ngIf="!task.complete" class="pull-right float-xs-right glyphicon glyphicon-remove"></i>
	      <i *ngIf="task.complete" class="pull-right float-xs-right glyphicon glyphicon-ok"></i>
	    </div>
	    <p>{{task.desc}}</p>
	    <button class="btn btn-primary" type="button" [routerLink]="['/task', task_index]">Go!</button>
	  </accordion-group>
	</accordion>
</div>

