<div *ngIf="error">
	<alert type="danger">
	  <strong>Bummer!</strong> Try refreshing - Error: ({{error}})
	</alert>
</div>

<div *ngIf="!error">
	<alert type="warning">
	  <strong>Warning!</strong> You must click "Submit Game" to save progress on this page!
	</alert>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-success">
			<div class="panel-heading"><b>Final Reveal</b></div>
			<div class="row panel-body">
				<div class="col-sm-4">
					<label>Location</label>
					<select class="form-control" [(ngModel)]="reveal.location_id">
						<option *ngFor="let clue of clues | keys | clueFilter:'location'" [value]="clue.key">{{clue.value.text}}</option>
					</select>
				</div>
				<div class="col-sm-4">
					<label>Weapon</label>
					<select class="form-control" [(ngModel)]="reveal.weapon_id">
						<option *ngFor="let clue of clues | keys | clueFilter:'weapon'" [value]="clue.key">{{clue.value.text}}</option>
					</select>
				</div>
				<div class="col-sm-4">
					<label>Suspect</label>
					<select class="form-control" [(ngModel)]="reveal.suspect_id">
						<option *ngFor="let clue of clues | keys | clueFilter:'suspect'" [value]="clue.key">{{clue.value.text}}</option>
					</select>
				</div>
			</div>
			<div class="row panel-body">
				<div class="col-sm-12">
					<label>Description</label>
					<!-- <p><b>Hint:</b> use '**' to use the current user's company name, if desired</p> -->
					<textarea class="form-control" rows=3 [(ngModel)]='description'></textarea>
					<!-- <p><i><b>Example:</b> 'Isn't ** is a great company?' -> 'Isn't Bankers Toolbox is a great company?'</i></p> -->
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading"><b>Locations</b>
			<button (click)="addClue('location')" class="btn btn-info btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
			<ul class="list-group">
			  <li *ngFor="let clue of clues | keys | clueFilter:'location'" class="list-group-item hoverable">
			  	{{clue.value.text}}
			  	<span class="pull-right button-group edit">
	                <button (click)="editClue(clue.key)" class="btn btn-primary btn-xs" type="button"><span class="glyphicon glyphicon-edit"></span></button> 
	                <button (click)="removeClue(clue.key)" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
	            </span>
			  </li>
			</ul>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading"><b>Suspects</b>
			<button (click)="addClue('suspect')" class="btn btn-info btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button></div>
			<ul class="list-group">
			  <li *ngFor="let clue of clues | keys | clueFilter:'suspect'" class="list-group-item hoverable">
			  	{{clue.value.text}}
			  	<span class="pull-right button-group edit">
	                <button (click)="editClue(clue.key)" class="btn btn-primary btn-xs" type="button"><span class="glyphicon glyphicon-edit"></span></button> 
	                <button (click)="removeClue(clue.key)" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
	            </span>
			  </li>
			</ul>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading"><b>Weapons</b>
			<button (click)="addClue('weapon')" class="btn btn-info btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button></div>
			<ul class="list-group">
			  <li *ngFor="let clue of clues | keys | clueFilter:'weapon'" class="list-group-item hoverable">
			  	{{clue.value.text}}
			  	<span class="pull-right button-group edit">
	                <button (click)="editClue(clue.key)" class="btn btn-primary btn-xs" type="button"><span class="glyphicon glyphicon-edit"></span></button> 
	                <button (click)="removeClue(clue.key)" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
	            </span>
			  </li>
			</ul>	
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-info">
		<div class="panel-heading"><b>Tasks ({{tasks.length}})</b></div>
			<div class="panel-body">
				<accordion [closeOthers]="true">
				  <accordion-group *ngFor="let task of tasks; let t_index = index; " class="hoverable">
				    <div accordion-heading>
				      	{{task.name}}
				      	<span class="pull-right button-group edit"> 
			                <button (click)="removeTask(t_index, $event)" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
			            </span>
				    </div>
				    <div class="row">
				    	<div class="col-sm-4">
				    		<label>Name</label>
				    		<input class="form-control" type="text" name="thing" [(ngModel)]="task.name">
				    	</div>
				    	<div class="col-sm-4">
				    		<label>Video URL</label>
				    		<input class="form-control" type="text" name="thing" [(ngModel)]="task.video_url">
				    	</div>
				    	<div class="col-sm-4">
				    		<label>Clue</label>
						    <select class="form-control" [(ngModel)]="task.clue_id">
						    	<optgroup label="Locations">
									<option *ngFor="let clue of clues | keys | clueFilter:'location'" [value]="clue.key">{{clue.value.text}}</option>
								</optgroup>
								<optgroup label="Weapons">
									<option *ngFor="let clue of clues | keys | clueFilter:'weapon'" [value]="clue.key">{{clue.value.text}}</option>
								</optgroup>
								<optgroup label="Suspects">
									<option *ngFor="let clue of clues | keys | clueFilter:'suspect'" [value]="clue.key">{{clue.value.text}}</option>
								</optgroup>
							</select>
				    	</div>
				    </div>
				    <br>
				    <div class="row">
				    	<div class="col-sm-12">
				    		<label>Description</label>
				    		<textarea class="form-control" [(ngModel)]='task.desc'></textarea>
				    	</div>
				    </div>
				    <br>
				    <div class="panel panel-success">
						<div class="panel-heading"><b>{{task.name}}'s Quiz ({{task.quiz.length}})</b>
							<span class="pull-right">
								<button (click)="addQuestion_Answers(t_index)" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-check"></span> New Multiple Choice</button>
								&nbsp;
								<button (click)="addQuestion_NoAnswers(t_index)" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span> New Fill in the Blank</button>
							</span>
						</div>
						<ul class="list-group">
						  <li *ngFor="let q of task.quiz; let q_index = index; " class="list-group-item hoverable">
						  	<b>Q:</b> <i>{{q.question}}</i>
						  	<br>
						  	<div *ngIf="q.answers">
						  		<b>Options:</b> <i *ngFor="let a of q.answers">"{{a}}" </i>
						  	</div>
						  	<b>A:</b> <i>{{q.answer}}</i>
						  	<span class="pull-right button-group edit">
				                <button (click)="editQuestion(t_index, q_index)" class="btn btn-primary btn-xs" type="button"><span class="glyphicon glyphicon-edit"></span></button> 
				                <button (click)="removeQuestion(t_index, q_index)" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
				            </span>
						  </li>
						</ul>
					</div>
				  </accordion-group>
				</accordion>
				<br>
				<button type="button" (click)="newTask()" class="btn btn-info pull-right">New Task</button>
			</div>
		</div>
		<button type="button" (click)="confirmSubmitModal.show(); validate();" class="btn btn-danger pull-right" [disabled]="submitting">Validate and Submit</button>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<b>Avaliable Images ({{images.length}})</b>
				<button (click)="addImage()" class="btn btn-info btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
			<div class="panel-body">
				<div class="thumbnail col-md-3 col-sm-4 col-xs-6" *ngFor="let image of images">
			      <img src="/assets/clue_images/{{image}}" alt="{{image}}" style="width: 120px; height: 120px;">
			        <p>{{image}}</p>
			        <p><button type="button" disabled class="btn btn-danger" (click)="remove(image)">Remove</button></p>
			    </div>
			</div>
		</div>
	</div>
</div>


<div *ngIf="submitError">
	<br>
	<alert type="danger">
	  <strong>Bummer!</strong> Try refreshing - Error: ({{submitError}})
	</alert>
</div>

<div bsModal #clueModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="weaponModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Clue Details</h4>
      </div>
      <div class="modal-body">
      	<label>Name of Clue</label>
        <input class="form-control" type="text" name="text" [(ngModel)]="selectedClue.text">
        <label>Clue Image</label>
        <select class="form-control" [(ngModel)]="selectedClue.image">
			<option *ngFor="let image of images" value="{{image}}" >{{image}}</option>
		</select>
        <label>Clue Icon</label>
        <select class="form-control" [(ngModel)]="selectedClue.icon">
			<option *ngFor="let image of images" value="{{image}}">{{image}}</option>
		</select>
        <label>Clue Type</label>
        <select class="form-control" [(ngModel)]="selectedClue.type">
			<option value="location">Location</option>
			<option value="weapon">Weapon</option>
			<option value="suspect">Suspect</option>
		</select>
        <label>Clue Information</label>
        <textarea class="form-control" rows=3 [(ngModel)]='selectedClue.info'></textarea>
      </div>
      <div class="modal-footer">
      	<button class="btn btn-default" type="button" (click)="clueModal.hide()">Cancel</button>
        <button class="btn btn-primary" type="button" (click)="saveClue()">Save</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #imageModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="weaponModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form #form="ngForm" (ngSubmit)="saveImage(form.value)">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Image Details</h4>
      </div>
      <div class="modal-body">
		  Select an Image: <input type="file" name="file" ngModel required />
		  <label>Filename (No Spaces, keep file extension!)</label>
          <input class="form-control" type="text" name="filename" ngModel required>
      </div>
      <div class="modal-footer">
      	<button class="btn btn-default" type="button" (click)="imageModal.hide()">Cancel</button>
        <button class="btn btn-primary" type="submit" >Save</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div bsModal #questionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Question</h4>
      </div>
      <div class="modal-body">
		  	<label>Question</label>
		  	<input class="form-control" type="text" name="thing" [(ngModel)]="question.question">
		  	<br>
		  	<div *ngIf="question.answers">
			  	<label>Options</label>
			  	<input class="form-control" type="text" name="0" [(ngModel)]="question.answers[0]">
			  	<input class="form-control" type="text" name="1" [(ngModel)]="question.answers[1]">
			  	<input class="form-control" type="text" name="2" [(ngModel)]="question.answers[2]">
			  	<input class="form-control" type="text" name="3" [(ngModel)]="question.answers[3]">
			  	<br>
			  	<label>Answer</label>
			  	<select class="form-control" [(ngModel)]="question.answer">
					<option *ngFor="let q of question.answers" [ngValue]="q">{{q}}</option>
				</select>
		  	</div>
		  	<div *ngIf="!question.answers">
			  	<label>Answer</label>
			  	<p><small>What type of answer is this?</small></p>
			  	<select class="form-control" [(ngModel)]="question.answerType">
					<option value="text">Text</option>
					<option value="number">Number</option>
					<option value="date">Date</option>
					<option value="multi">Multiple</option>
				</select>
				<br>
			  	<input *ngIf="question.answerType == 'text'" class="form-control" type="text" name="answer" [(ngModel)]="question.answer">
			  	<input *ngIf="question.answerType == 'number'" class="form-control" type="number" name="answer" [(ngModel)]="question.answer">
			  	<input *ngIf="question.answerType == 'date'" class="form-control" type="date" name="answer" [(ngModel)]="question.answer">
			  	<span *ngIf="question.answerType == 'multi'">
			  		<p><small>What type of answers are there?</small></p>
				  	<select class="form-control" [(ngModel)]="question.multiType">
						<option value="text">Text</option>
						<option value="number">Number</option>
						<option value="date">Date</option>
					</select>
					<br>
					<small>What is the specifying question?</small>
					<input class="form-control" type="text" name="multiQuestion" [(ngModel)]="question.multiQuestion">
					<button type="button" (click)="newMultiAnswer(question)" class="btn btn-small btn-info">New Answer</button>
					<div class="row" *ngFor="let multQuestion of question.multiAnswers">
						<div class="col-sm-6">
							<label>Multi Question Answer</label>
							<input class="form-control" type="text" name="multQuestion" [(ngModel)]="multQuestion.question">
						</div>
						<div class="col-sm-6">
							<label>Cooresponding Answer</label>
							<input *ngIf="question.multiType == 'text'" class="form-control" type="text" name="multAnswer" [(ngModel)]="multQuestion.answer">
							<input *ngIf="question.multiType == 'number'" class="form-control" type="number" name="multAnswer" [(ngModel)]="multQuestion.answer">
							<input *ngIf="question.multiType == 'date'" class="form-control" type="date" name="multAnswer" [(ngModel)]="multQuestion.answer">
						</div>
					</div>
			  	</span>
		  	</div>
      </div>
      <div class="modal-footer">
      	<button class="btn btn-default" type="button" (click)="questionModal.hide()">Cancel</button>
        <button class="btn btn-primary" type="button" (click)="saveQuestion()">Save</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #loadModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Loading</h4>
      </div>
      <div class="modal-body">
        Please Wait...
      </div>
    </div>
  </div>
</div>

<div bsModal #confirmSubmitModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmSubmitModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Are You Sure?</h4>
      </div>
      <div class="modal-body">
        <h2>Changing the game can break all of the current user's progress.</h2>
        <p><b>Make sure you really want to do this!</b></p>
        <p *ngIf="invalid.length != 0 && validated"><i>Issues:</i></p>
        <div *ngIf="invalid.length != 0 && validated">
        	<div *ngFor="let bad of invalid">
        		ERROR: {{bad}}
        	</div>
        </div>
      </div>
      <div class="modal-footer">
      	<span class="pull-left" *ngIf="!validated"><i>Validating...</i></span>
        <span class="pull-left" *ngIf="invalid.length == 0 && validated"><i>GAME IS VALID!</i></span>
        <span *ngIf="invalid.length != 0 && validated" class="pull-left"><i><b>Cancel and fix these issues</b></i></span>
      	<button class="btn btn-primary" type="button" (click)="confirmSubmitModal.hide()">Cancel</button>
        <button class="btn btn-danger" type="button" [disabled]="invalid.length != 0 && validated" (click)="confirmSubmitModal.hide(); submitGame();">OK</button>
      </div>
    </div>
  </div>
</div>